main-operating_node.json
[{"id":"5b3be2d.fabbb1c","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"a339df7a.87926","type":"ui_template","z":"5b3be2d.fabbb1c","group":"d8596899.c56458","name":"12","order":1,"width":0,"height":0,"format":"<html lang=\"en\">\n    <body>\n        <div id=\"sawo-container\" style=\"height: 300px; width: 300px;\"></div>\n        <div id=\"countdown\"></div>\n        <script src=\"https://websdk.sawolabs.com/sawo.min.js\"></script>\n        <script>\n            var theScope = scope;\n            var config = {\n                containerID: \"sawo-container\",\n                identifierType: \"email\", // can be either 'email' or 'phone_number_sms'\n                apiKey: \"14f764cb-23a1-4729-9b18-66b9ddec04e7\", // add your api key here\n                onSuccess: (payload) => {\n                    var a=payload;\n                      theScope.send({payload:{payload}});\n                       //var timeleft = 8;\n                      //var downloadTimer = setInterval(function(){\n                     // if(timeleft <= 0){\n                      //clearInterval(downloadTimer);\n                      //document.getElementById(\"countdown\").innerHTML = \"Finished\";\n                      //         } else {\n                      //document.getElementById(\"countdown\").innerHTML =\" The door will close in few sec ---\" + timeleft + \" seconds remaining\";\n                      //              }\n                      //        timeleft -= 1;\n                      //              }, 1000);\n                     },\n                  };\n\n            var sawo = new Sawo(config);\n            sawo.showForm();\n\n        </script>\n        \n        \n    </body>\n</html>\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":230,"y":20,"wires":[["e9ce5ee1.906d6","5bc25c54.e0b304"]]},{"id":"dddbe0f8.6b524","type":"inject","z":"5b3be2d.fabbb1c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Please verify yourself!!","payloadType":"str","x":90,"y":20,"wires":[["54d4ea9.edb2314"]]},{"id":"e9ce5ee1.906d6","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"global.set(\"num\",msg.payload.payload.identifier);\nif(msg.payload.payload.identifier==\"+919800374139\" ||msg.payload.payload.identifier==\"ayanghosh974@gmail.com\" )\n{\n    msg.payload=\"Hey Ayan, Good to see you\"\n}\nelse\nmsg.payload=\"Sorry you are not verified!!! Your phone number/email has been send to the admin for verification!!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":60,"wires":[["54d4ea9.edb2314"]]},{"id":"b7cd5817.62feb8","type":"ui_text","z":"5b3be2d.fabbb1c","group":"520f753e.322f2c","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":190,"y":360,"wires":[]},{"id":"78383fb.f3770c","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"msg.payload=Math.floor(Math.random()*(999-100+1)+100);\nmsg.payload=msg.payload.toString()\nglobal.set(\"rand\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":280,"wires":[["2ca9c08f.41429","119f50e9.7aaabf","2d8cc7e9.40a348"]]},{"id":"2ca9c08f.41429","type":"twilio out","z":"5b3be2d.fabbb1c","twilio":"dcfe9245.834eb","twilioType":"sms","url":"","number":"+919800374139","name":"","x":1230,"y":200,"wires":[]},{"id":"2f9a57d3.8d9e68","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"var a=global.get(\"rand\");\na=a.toString();\na=a+\".\"\nif(msg.payload==a)\n{\n    msg.payload=\"Thanks for that, Welcome!\"\n}\nelse\n{\n    msg.payload=\"sorry please input the correct password\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":400,"wires":[["b7cd5817.62feb8","1d4fb939.973347"]]},{"id":"2d8cc7e9.40a348","type":"debug","z":"5b3be2d.fabbb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":260,"wires":[]},{"id":"119f50e9.7aaabf","type":"countdown","z":"5b3be2d.fabbb1c","name":"","topic":"","payloadTimerStart":"Y","payloadTimerStartType":"str","payloadTimerStop":"F","payloadTimerStopType":"str","timer":"40","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":810,"y":300,"wires":[["2038b13e.11ae0e"],["9781eb94.4f7d18"]]},{"id":"6c89901e.6b9d","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"msg.payload=Math.floor(Math.random()*(999-100+1)+100);\nmsg.payload=msg.payload.toString();\nglobal.set(\"rand\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":340,"wires":[[]]},{"id":"f7c4c6c6.b870c8","type":"switch","z":"5b3be2d.fabbb1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Open the door.","vt":"str"},{"t":"eq","v":"Send again.","vt":"str"},{"t":"btwn","v":"99","vt":"num","v2":"999","v2t":"num"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":320,"wires":[["78383fb.f3770c","eb0559f5.2ded38"],["78383fb.f3770c","18c8b7ab.f78d98"],["2f9a57d3.8d9e68","72d740f3.ce4f7"]]},{"id":"9781eb94.4f7d18","type":"ui_text","z":"5b3be2d.fabbb1c","group":"520f753e.322f2c","order":3,"width":6,"height":1,"name":"","label":"The OTP will reset in","format":"{{msg.payload}} sec","layout":"col-center","x":880,"y":380,"wires":[]},{"id":"a27a5258.0c393","type":"ui_audio","z":"5b3be2d.fabbb1c","name":"","group":"d8596899.c56458","voice":"Google US English","always":true,"x":660,"y":180,"wires":[]},{"id":"eb0559f5.2ded38","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"msg.payload=\"Sure,please tell me the otp send to your registered mobile\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":240,"wires":[["a27a5258.0c393"]]},{"id":"18c8b7ab.f78d98","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"msg.payload=\"Sure,check your mobile now!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":320,"wires":[["a27a5258.0c393","119f50e9.7aaabf"]]},{"id":"1d4fb939.973347","type":"ui_audio","z":"5b3be2d.fabbb1c","name":"","group":"520f753e.322f2c","voice":"Google US English","always":true,"x":840,"y":500,"wires":[]},{"id":"2038b13e.11ae0e","type":"switch","z":"5b3be2d.fabbb1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"F","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":320,"wires":[["6c89901e.6b9d"]]},{"id":"906f81af.036e7","type":"ui_ui_control","z":"5b3be2d.fabbb1c","name":"","events":"all","x":1280,"y":40,"wires":[[]]},{"id":"4df7dfb3.6c46f","type":"countdown","z":"5b3be2d.fabbb1c","name":"","topic":"","payloadTimerStart":"959","payloadTimerStartType":"num","payloadTimerStop":"4","payloadTimerStopType":"num","timer":"2","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":830,"y":20,"wires":[["906f81af.036e7"],[]]},{"id":"8426b9ac.6ca978","type":"ui_text","z":"5b3be2d.fabbb1c","group":"51bf0475.ddfd2c","order":0,"width":0,"height":0,"name":"","label":"The door will close in few seconds","format":"{{msg.payload}}","layout":"col-center","x":1460,"y":280,"wires":[]},{"id":"7f1aa306.01cccc","type":"countdown","z":"5b3be2d.fabbb1c","name":"","topic":"","payloadTimerStart":"9449","payloadTimerStartType":"num","payloadTimerStop":"9","payloadTimerStopType":"num","timer":"10","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":1430,"y":60,"wires":[["906f81af.036e7","ed35dcf4.10bb"],["8426b9ac.6ca978"]]},{"id":"1ade869a.0d07b9","type":"ui_button","z":"5b3be2d.fabbb1c","name":"","group":"d8596899.c56458","order":3,"width":4,"height":1,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"topic","topicType":"msg","x":1020,"y":60,"wires":[["4858df0c.1c4ba","f9e39190.b203b"]]},{"id":"a4cc00c.094be","type":"ui_text","z":"5b3be2d.fabbb1c","group":"784c5b3f.cb6174","order":0,"width":0,"height":0,"name":"","label":"Refreshing....","format":"{{msg.payload}}","layout":"col-center","x":990,"y":180,"wires":[]},{"id":"4858df0c.1c4ba","type":"countdown","z":"5b3be2d.fabbb1c","name":"","topic":"","payloadTimerStart":"9449","payloadTimerStartType":"num","payloadTimerStop":"0","payloadTimerStopType":"num","timer":"5","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":830,"y":140,"wires":[["f9e39190.b203b"],["a4cc00c.094be"]]},{"id":"f9e39190.b203b","type":"ui_ui_control","z":"5b3be2d.fabbb1c","name":"","events":"all","x":1640,"y":160,"wires":[[]]},{"id":"54d4ea9.edb2314","type":"ui_text","z":"5b3be2d.fabbb1c","group":"d8596899.c56458","order":5,"width":6,"height":2,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":90,"y":60,"wires":[]},{"id":"5bc25c54.e0b304","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"if(msg.payload.payload.identifier==\"+919800374139\" ||msg.payload.payload.identifier==\"ayanghosh974@gmail.com\" )\n{\n    msg.payload=1;\n}\nelse\nmsg.payload=3;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":20,"wires":[["88982508.2af818"]]},{"id":"88982508.2af818","type":"switch","z":"5b3be2d.fabbb1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":20,"wires":[["4df7dfb3.6c46f","e8f4175e.b1c768"],["931cc6e3.9b1338","dc67a10.e20276"]]},{"id":"931cc6e3.9b1338","type":"countdown","z":"5b3be2d.fabbb1c","name":"","topic":"","payloadTimerStart":"959","payloadTimerStartType":"num","payloadTimerStop":"3","payloadTimerStopType":"num","timer":"5","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":830,"y":80,"wires":[["f9e39190.b203b","4858df0c.1c4ba"],[]]},{"id":"c2e4af58.5de5a","type":"inject","z":"5b3be2d.fabbb1c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Please input correct voice commands!","payloadType":"str","x":50,"y":360,"wires":[["b7cd5817.62feb8"]]},{"id":"72d740f3.ce4f7","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"var a=global.get(\"rand\");\na=a.toString();\na=a+\".\"\nif(msg.payload==a)\n{\n    msg.payload=1;\n}\nelse\n{\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":360,"wires":[["986e452b.be95f8"]]},{"id":"986e452b.be95f8","type":"switch","z":"5b3be2d.fabbb1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":400,"wires":[[],["2e242ccb.7055f4","26f49a7e.62dba6","6c89901e.6b9d","a92dfe35.976f8"]]},{"id":"2e242ccb.7055f4","type":"ui_ui_control","z":"5b3be2d.fabbb1c","name":"","events":"all","x":1140,"y":580,"wires":[[]]},{"id":"26f49a7e.62dba6","type":"countdown","z":"5b3be2d.fabbb1c","name":"","topic":"","payloadTimerStart":"9449","payloadTimerStartType":"num","payloadTimerStop":"4","payloadTimerStopType":"num","timer":"15","resetWhileRunning":false,"setTimeToNewWhileRunning":true,"startCountdownOnControlMessage":false,"x":910,"y":420,"wires":[["2e242ccb.7055f4","ed35dcf4.10bb"],["8426b9ac.6ca978"]]},{"id":"a92dfe35.976f8","type":"http request","z":"5b3be2d.fabbb1c","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://cloud.boltiot.com/remote/008ba9c8-c2e9-4b83-ad23-6d5f878765cb/digitalWrite?pin=3&state=LOW&deviceName=BOLT14916695","tls":"","persist":false,"proxy":"","authType":"","x":990,"y":480,"wires":[[]]},{"id":"ce48101e.58f9e","type":"http request","z":"5b3be2d.fabbb1c","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://cloud.boltiot.com/remote/008ba9c8-c2e9-4b83-ad23-6d5f878765cb/digitalWrite?pin=3&state=HIGH&deviceName=BOLT14916695","tls":"","persist":false,"proxy":"","authType":"","x":1710,"y":340,"wires":[[]]},{"id":"dc67a10.e20276","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"var a=global.get(\"num\");\nmsg.payload=\"A person tried to activate the device with SAWO OTP using unverified ID--\"+a;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":60,"wires":[["2ca9c08f.41429"]]},{"id":"617ac6f3.f08e48","type":"ui_text_input","z":"5b3be2d.fabbb1c","name":"","label":"ADD NUMBER ","tooltip":"","group":"fc657953.1b728","order":1,"width":4,"height":1,"passthru":true,"mode":"text","delay":"400","topic":"topic","topicType":"msg","x":2240,"y":960,"wires":[["8a964179.2ae47","9c413798.415ba8"]]},{"id":"43cac0fd.db6a5","type":"ui_text_input","z":"5b3be2d.fabbb1c","name":"","label":"Delete number","tooltip":"","group":"fc657953.1b728","order":2,"width":4,"height":1,"passthru":true,"mode":"text","delay":"400","topic":"topic","topicType":"msg","x":1660,"y":900,"wires":[["62ceab02.2a3984"]]},{"id":"3129ce97.47de32","type":"cloudant out","z":"5b3be2d.fabbb1c","name":"","cloudant":"","database":"sawo","service":"node-red-nzdsw-2021--cloudant-1628093501762-94877","payonly":true,"operation":"delete","x":2330,"y":1080,"wires":[]},{"id":"62ceab02.2a3984","type":"cloudant in","z":"5b3be2d.fabbb1c","name":"","cloudant":"","database":"sawo","service":"node-red-nzdsw-2021--cloudant-1628093501762-94877","search":"_all_","design":"","index":"","x":1690,"y":820,"wires":[["b39e4349.ce902"]]},{"id":"9c413798.415ba8","type":"debug","z":"5b3be2d.fabbb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2210,"y":900,"wires":[]},{"id":"b39e4349.ce902","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"var a=global.get(\"numu\");\nvar tot_count=msg.payload.length;\nvar dd;\nfor(i=0;i<tot_count;i++)\n{\n    if (a==msg.payload[i].payload)\n    {\n        dd=i;\n    }\n}\nglobal.set(\"id\",msg.payload[dd]._id);\nglobal.set(\"rev\",msg.payload[dd]._rev);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1980,"y":780,"wires":[[]]},{"id":"8a964179.2ae47","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"global.set(\"numu\",msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2480,"y":1100,"wires":[[]]},{"id":"ae5ea967.837408","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"var id=global.get(\"id\");\nvar rev=global.get(\"rev\");\nmsg._id=id;\nmsg._rev=rev;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1960,"y":940,"wires":[["3129ce97.47de32","42b92197.eec98"]]},{"id":"6f7346f5.8181d8","type":"cloudant out","z":"5b3be2d.fabbb1c","name":"","cloudant":"","database":"sawo","service":"node-red-nzdsw-2021--cloudant-1628093501762-94877","payonly":true,"operation":"insert","x":2430,"y":940,"wires":[]},{"id":"f26c0f06.ea728","type":"switch","z":"5b3be2d.fabbb1c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2650,"y":1100,"wires":[["6f7346f5.8181d8"]]},{"id":"385a7aaa.8bad26","type":"cloudant in","z":"5b3be2d.fabbb1c","name":"","cloudant":"","database":"sawo","service":"node-red-nzdsw-2021--cloudant-1628093501762-94877","search":"_all_","design":"","index":"","x":2470,"y":1020,"wires":[["672ed439.f0ce8c"]]},{"id":"672ed439.f0ce8c","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"var a=global.get(\"numu\");\nvar tot_count=msg.payload.length;\nvar dd=1;\nfor(i=0;i<tot_count;i++)\n{\n    if (a==msg.payload[i].payload)\n    {\n        dd=0;\n        \n    }\n}\nif(dd==0)\n{\n    msg.topic=0\n}\nelse\n{\n    msg.topic=1\n    msg.payload=a;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2600,"y":1040,"wires":[["f26c0f06.ea728"]]},{"id":"ac2b9c34.b6488","type":"ui_button","z":"5b3be2d.fabbb1c","name":"","group":"fc657953.1b728","order":6,"width":2,"height":1,"passthru":false,"label":"DELETE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":1720,"y":960,"wires":[[]]},{"id":"a10c4b1a.1c4d18","type":"ui_button","z":"5b3be2d.fabbb1c","name":"","group":"fc657953.1b728","order":4,"width":2,"height":1,"passthru":false,"label":"SAVE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":2270,"y":1040,"wires":[["385a7aaa.8bad26"]]},{"id":"1213ca40.ead386","type":"inject","z":"5b3be2d.fabbb1c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1710,"y":1080,"wires":[["6633eeb3.3a988"]]},{"id":"6633eeb3.3a988","type":"cloudant in","z":"5b3be2d.fabbb1c","name":"","cloudant":"","database":"sawo","service":"node-red-nzdsw-2021--cloudant-1628093501762-94877","search":"_all_","design":"","index":"","x":1890,"y":1080,"wires":[["9c413798.415ba8"]]},{"id":"42b92197.eec98","type":"debug","z":"5b3be2d.fabbb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2110,"y":1020,"wires":[]},{"id":"cbcc4462.5b7a78","type":"inject","z":"5b3be2d.fabbb1c","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1860,"y":880,"wires":[["ae5ea967.837408"]]},{"id":"aebb6e3b.f1d94","type":"ui_template","z":"5b3be2d.fabbb1c","group":"e71e1cf0.ff05c","name":"Symbl.AI","order":7,"width":2,"height":1,"format":"<!DOCTYPE html>\n<html>\n<body>\n            <div id=\"countdown\"></div>\n\n<script>\n/**\n * The JWT token you get after authenticating with our API.\n * Check the Authentication section of the documentation for more details.\n */\n\nasync function doSomethingAsync() {\nvar theScope = scope;\nconst accessToken = \"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlFVUTRNemhDUVVWQk1rTkJNemszUTBNMlFVVTRRekkyUmpWQ056VTJRelUxUTBVeE5EZzFNUSJ9.eyJodHRwczovL3BsYXRmb3JtLnN5bWJsLmFpL3VzZXJJZCI6IjUxNzQ2MjUxOTAyODEyMTYiLCJpc3MiOiJodHRwczovL2RpcmVjdC1wbGF0Zm9ybS5hdXRoMC5jb20vIiwic3ViIjoiSzhNenJpWGM1NnMxU1Y2VmVYNHV2NjhpUks1VTB4VThAY2xpZW50cyIsImF1ZCI6Imh0dHBzOi8vcGxhdGZvcm0ucmFtbWVyLmFpIiwiaWF0IjoxNjM1MDAwNjUwLCJleHAiOjE2MzUwODcwNTAsImF6cCI6Iks4TXpyaVhjNTZzMVNWNlZlWDR1djY4aVJLNVUweFU4IiwiZ3R5IjoiY2xpZW50LWNyZWRlbnRpYWxzIn0.dCCY3Nz1UYRPEksJnUYaLdIP8Z0tQU2p2EkB_beCfmjkR9cLJhz9lqRd-fHcgQWtsq3kz6T0xzfb3HBiqtxU11DjtErjwtBJ6bu08TrRK5mAUx8_ncESl3nm_WgAuT2wfA-sXWyvr0Flz2ri479TTfmwrErYR1XNGzT6sauABmfh_NFFw0q4wTRAXSu9JgV2ilIGTb4eQeslDYhZqCxwP2ZVJQnk_ozoW9fksc481A0ZVhKlwk9hs1Co7X3hKTy5ztxqj4pD0SPA08EM1E2_kjugwlRFtEb0k37EEl8xENn4pHBnobhsek3XG5yvRZ7jyF9yK1sLKPzm_UAB4Kwbpw\"\nconst uniqueMeetingId = btoa(\"ayanghosh974@gmail.com\")\nconst symblEndpoint = `wss://api.symbl.ai/v1/realtime/insights/${uniqueMeetingId}?access_token=${accessToken}`;\nconsole.log(symblEndpoint);\nconst ws = new WebSocket(symblEndpoint);\n\n// Fired when a message is received from the WebSocket server\nws.onmessage = (event) => {\n    // You can find the conversationId in event.message.data.conversationId;\n  const data = JSON.parse(event.data);\n  \n  if (data.type === 'message_response') {\n    for (let message of data.messages) {\n      var a=message.payload.content;\n      theScope.send({payload:{a}});\n      console.log('Transcript (more accurate): ', message.payload.content);\n    }\n  }\n  if (data.type === 'topic_response') {\n    for (let topic of data.topics) {\n      console.log('Topic detected: ', topic.phrases)\n    }\n  }\n  if (data.type === 'insight_response') {\n    for (let insight of data.insights) {\n      console.log('Insight detected: ', insight.payload.content);\n    }\n  }\n  \n  console.log(`Response type: ${data.type}. Object: `, data);\n};\n  \n// Fired when the connection succeeds.\nws.onopen = (event) => {\n  ws.send(JSON.stringify({\n    type: 'start_request',\n    meetingTitle: 'Websockets How-to', // Conversation name\n    insightTypes: ['question', 'action_item'], // Will enable insight generation\n    config: {\n      confidenceThreshold: 0.5,\n      languageCode: 'en-US',\n      speechRecognition: {\n        encoding: 'LINEAR16',\n        sampleRateHertz: 44100,\n      }\n    },\n    speaker: {\n      userId: 'example@symbl.ai',\n      name: 'Example Sample',\n    }\n  }));\n};\n\nconst stream = await navigator.mediaDevices.getUserMedia({ audio: true, video: false });\n\n/**\n * The callback function which fires after a user gives the browser permission to use\n * the computer's microphone. Starts a recording session which sends the audio stream to\n * the WebSocket endpoint for processing.\n */\nconst handleSuccess = (stream) => {\n  const AudioContext = window.AudioContext;\n  const context = new AudioContext();\n  const source = context.createMediaStreamSource(stream);\n  const processor = context.createScriptProcessor(1024, 1, 1);\n  const gainNode = context.createGain();\n  source.connect(gainNode);\n  gainNode.connect(processor);\n  processor.connect(context.destination);\n  processor.onaudioprocess = (e) => {\n    // convert to 16-bit payload\n    const inputData = e.inputBuffer.getChannelData(0) || new Float32Array(this.bufferSize);\n    const targetBuffer = new Int16Array(inputData.length);\n    for (let index = inputData.length; index > 0; index--) {\n        targetBuffer[index] = 32767 * Math.min(1, inputData[index]);\n    }\n    // Send audio stream to websocket.\n    if (ws.readyState === WebSocket.OPEN) {\n      ws.send(targetBuffer.buffer);\n    }\n  };\n};\n\n\nhandleSuccess(stream);\n           \n }  \n\n(async function() {\n    await doSomethingAsync();\n    //const response = await doSomethingAsync();\n    //console.log(response);\n    \n})();\n</script> \n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":160,"y":520,"wires":[["3eec3577.a245fa"]]},{"id":"3eec3577.a245fa","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"global.set(\"old1\",msg.payload.a);\nmsg.payload=msg.payload.a\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":220,"wires":[["7e347bd0.32aba4","f7c4c6c6.b870c8","c71d55ef.cf7b68","3479aa0a.5c6966","9715ca57.d92cb8"]]},{"id":"e8f4175e.b1c768","type":"http request","z":"5b3be2d.fabbb1c","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://cloud.boltiot.com/remote/008ba9c8-c2e9-4b83-ad23-6d5f878765cb/digitalWrite?pin=3&state=LOW&deviceName=BOLT14916695","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":60,"wires":[[]]},{"id":"7e347bd0.32aba4","type":"debug","z":"5b3be2d.fabbb1c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":660,"wires":[]},{"id":"ea1e0052.4fb3","type":"debug","z":"5b3be2d.fabbb1c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":140,"wires":[]},{"id":"c71d55ef.cf7b68","type":"switch","z":"5b3be2d.fabbb1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Make an appointment with Elena.","vt":"str"},{"t":"eq","v":"Make an appointment with John.","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":660,"wires":[["f9e2e7b6.943128"],["e6f3b33.95e7f5"]]},{"id":"f9e2e7b6.943128","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"global.set(\"_name_\",\"Elena\")\nmsg.payload=\"Sure, When do you want to make the appointment at?\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":640,"wires":[["4f17d8da.16d608"]]},{"id":"4f17d8da.16d608","type":"ui_audio","z":"5b3be2d.fabbb1c","name":"","group":"d8596899.c56458","voice":"Google US English","always":true,"x":880,"y":840,"wires":[]},{"id":"e6f3b33.95e7f5","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"global.set(\"_name_\",\"John\")\nmsg.payload=\"Sure, When do you want to make the appointment at?\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":680,"wires":[["4f17d8da.16d608"]]},{"id":"3479aa0a.5c6966","type":"switch","z":"5b3be2d.fabbb1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Both.","vt":"str"},{"t":"eq","v":"Only phone number.","vt":"str"},{"t":"eq","v":"Only email.","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":450,"y":900,"wires":[["6e8224a8.67e2ac"],["34fba0fd.045f9"],["992a88f.a91f978"]]},{"id":"992a88f.a91f978","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"global.set(\"_so_\",\"email\")\nvar a=global.get(\"_name_\");\nmsg.payload=\"Great, sending it to the email of \"+a;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":860,"wires":[["4f17d8da.16d608"]]},{"id":"34fba0fd.045f9","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"global.set(\"_so_\",\"phone_number\")\nvar a=global.get(\"_name_\");\nmsg.payload=\"Great, sending it to the phone number of \"+a;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":900,"wires":[["4f17d8da.16d608"]]},{"id":"6e8224a8.67e2ac","type":"function","z":"5b3be2d.fabbb1c","name":"","func":"global.set(\"_so_\",\"both\")\nvar a=global.get(\"_name_\");\nmsg.payload=\"Great, sending it to the phone number and email of \"+a;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":940,"wires":[["4f17d8da.16d608"]]},{"id":"af7e679.5cd3298","type":"ui_template","z":"5b3be2d.fabbb1c","group":"d8596899.c56458","name":"Symbl.AI","order":7,"width":2,"height":1,"format":"<!DOCTYPE html>\n<html>\n<body>\n            <div id=\"countdown\"></div>\n\n<script>\n/**\n * The JWT token you get after authenticating with our API.\n * Check the Authentication section of the documentation for more details.\n */\n\nasync function doSomethingAsync() {\nvar theScope = scope;\nconst accessToken = \"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlFVUTRNemhDUVVWQk1rTkJNemszUTBNMlFVVTRRekkyUmpWQ056VTJRelUxUTBVeE5EZzFNUSJ9.eyJodHRwczovL3BsYXRmb3JtLnN5bWJsLmFpL3VzZXJJZCI6IjUxNzQ2MjUxOTAyODEyMTYiLCJpc3MiOiJodHRwczovL2RpcmVjdC1wbGF0Zm9ybS5hdXRoMC5jb20vIiwic3ViIjoiSzhNenJpWGM1NnMxU1Y2VmVYNHV2NjhpUks1VTB4VThAY2xpZW50cyIsImF1ZCI6Imh0dHBzOi8vcGxhdGZvcm0ucmFtbWVyLmFpIiwiaWF0IjoxNjM0OTEzOTMyLCJleHAiOjE2MzUwMDAzMzIsImF6cCI6Iks4TXpyaVhjNTZzMVNWNlZlWDR1djY4aVJLNVUweFU4IiwiZ3R5IjoiY2xpZW50LWNyZWRlbnRpYWxzIn0.zns9y7pKRW60Q3LZTWOoJ2S8AOYE5wEfumWMPG1CDXXpBm4SdYOWUBdit7Fs-eXwQsYxRXcohlTNX0Gd7vV5z1K0dwwmxu2vVF7MRpOZoqJnO8JNLwLVOJExgD9NOSho-dZ4yjY171IQdeMIsKX5I96zIOOpS850AKCdQ3NXynhY7KtcUU16x7ws-QCtNL6MsZZBDeg-bNsfuKf5zd9ClFrUx6wCfYFmGBVzN27TLGLgxeLodkNmIyy1f9tGhNRSgcoSa929NNeU2T59nULIxZaXGjbIT8QvBJ0SRiXMRaXcu86cPNNaOpIfCPOyCGXe3SaInjmGrEmW-wrwPX_iqg\"\nconst uniqueMeetingId = btoa(\"ayanghosh974@gmail.com\")\nconst symblEndpoint = `wss://api.symbl.ai/v1/realtime/insights/${uniqueMeetingId}?access_token=${accessToken}`;\nconsole.log(symblEndpoint);\nconst ws = new WebSocket(symblEndpoint);\n\nws.send(JSON.stringify({\n  \"type\": \"stop_request\"\n}));\n           \n }  \n\n(async function() {\n    await doSomethingAsync();\n    const response = await doSomethingAsync();\n    console.log(response);\n    \n})();\n</script> \n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1400,"y":480,"wires":[[]]},{"id":"9715ca57.d92cb8","type":"switch","z":"5b3be2d.fabbb1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Turn the light off.","vt":"str"},{"t":"eq","v":"Turn the light on.","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":780,"wires":[["780d631e.c2cb6c"],["6005beb6.efc7a"]]},{"id":"6005beb6.efc7a","type":"http request","z":"5b3be2d.fabbb1c","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://cloud.boltiot.com/remote/008ba9c8-c2e9-4b83-ad23-6d5f878765cb/digitalWrite?pin=0&state=LOW&deviceName=BOLT7421808","tls":"","persist":false,"proxy":"","authType":"","x":1290,"y":780,"wires":[["9e3f95c9.96bd08"]]},{"id":"780d631e.c2cb6c","type":"http request","z":"5b3be2d.fabbb1c","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://cloud.boltiot.com/remote/008ba9c8-c2e9-4b83-ad23-6d5f878765cb/digitalWrite?pin=0&state=HIGH&deviceName=BOLT7421808","tls":"","persist":false,"proxy":"","authType":"","x":1290,"y":820,"wires":[["9c43a8cf.673e48"]]},{"id":"d8b6770c.db44c8","type":"http request","z":"5b3be2d.fabbb1c","name":"Courier","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.courier.com/send","tls":"","persist":false,"proxy":"","authType":"","x":1260,"y":1020,"wires":[[]]},{"id":"9e3f95c9.96bd08","type":"change","z":"5b3be2d.fabbb1c","name":"Courier","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Accept\":\"application/json\",\"Authorization\":\"Bearer dk_prod_8GA6M60FWD4970GP4XM7C60DVMSV\",\"Content-Type\":\"application/json\"}","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"{\"event\":\"JEMKXK4N82MV86M71YGJZ8RSZTKD\",\"recipient\":\"cc55875e-0fb9-4cfb-9d64-98e467fbcfab\",\"brand\":\"CVX06KW6SXMEG1G2VJ0Y09SGHKMN\",\"data\":{\"name\":\"Ayan\",\"sta_te\":\"ON\",\"dev_ice\":\"Room Light\"},\"profile\":{\"phone_number\":\"+919800374139\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":780,"wires":[["d8b6770c.db44c8"]]},{"id":"9c43a8cf.673e48","type":"change","z":"5b3be2d.fabbb1c","name":"Courier","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Accept\":\"application/json\",\"Authorization\":\"Bearer dk_prod_8GA6M60FWD4970GP4XM7C60DVMSV\",\"Content-Type\":\"application/json\"}","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"{\"event\":\"JEMKXK4N82MV86M71YGJZ8RSZTKD\",\"recipient\":\"cc55875e-0fb9-4cfb-9d64-98e467fbcfab\",\"brand\":\"CVX06KW6SXMEG1G2VJ0Y09SGHKMN\",\"data\":{\"name\":\"Ayan\",\"sta_te\":\"OFF\",\"dev_ice\":\"Room Light\"},\"profile\":{\"phone_number\":\"+919800374139\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":920,"wires":[["d8b6770c.db44c8"]]},{"id":"77c37842.aacd98","type":"ui_template","z":"5b3be2d.fabbb1c","group":"784c5b3f.cb6174","name":"Symbl.AI","order":7,"width":2,"height":1,"format":"<!DOCTYPE html>\n<html>\n<body>\n            <div id=\"countdown\"></div>\n\n<script>\n/**\n * The JWT token you get after authenticating with our API.\n * Check the Authentication section of the documentation for more details.\n */\n\nasync function doSomethingAsync() {\nvar theScope = scope;\nconst accessToken = \"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlFVUTRNemhDUVVWQk1rTkJNemszUTBNMlFVVTRRekkyUmpWQ056VTJRelUxUTBVeE5EZzFNUSJ9.eyJodHRwczovL3BsYXRmb3JtLnN5bWJsLmFpL3VzZXJJZCI6IjUxNzQ2MjUxOTAyODEyMTYiLCJpc3MiOiJodHRwczovL2RpcmVjdC1wbGF0Zm9ybS5hdXRoMC5jb20vIiwic3ViIjoiSzhNenJpWGM1NnMxU1Y2VmVYNHV2NjhpUks1VTB4VThAY2xpZW50cyIsImF1ZCI6Imh0dHBzOi8vcGxhdGZvcm0ucmFtbWVyLmFpIiwiaWF0IjoxNjM0OTEzOTMyLCJleHAiOjE2MzUwMDAzMzIsImF6cCI6Iks4TXpyaVhjNTZzMVNWNlZlWDR1djY4aVJLNVUweFU4IiwiZ3R5IjoiY2xpZW50LWNyZWRlbnRpYWxzIn0.zns9y7pKRW60Q3LZTWOoJ2S8AOYE5wEfumWMPG1CDXXpBm4SdYOWUBdit7Fs-eXwQsYxRXcohlTNX0Gd7vV5z1K0dwwmxu2vVF7MRpOZoqJnO8JNLwLVOJExgD9NOSho-dZ4yjY171IQdeMIsKX5I96zIOOpS850AKCdQ3NXynhY7KtcUU16x7ws-QCtNL6MsZZBDeg-bNsfuKf5zd9ClFrUx6wCfYFmGBVzN27TLGLgxeLodkNmIyy1f9tGhNRSgcoSa929NNeU2T59nULIxZaXGjbIT8QvBJ0SRiXMRaXcu86cPNNaOpIfCPOyCGXe3SaInjmGrEmW-wrwPX_iqg\"\nconst uniqueMeetingId = btoa(\"ayanghosh974@gmail.com\")\nconst symblEndpoint = `wss://api.symbl.ai/v1/realtime/insights/${uniqueMeetingId}?access_token=${accessToken}`;\nconsole.log(symblEndpoint);\nconst ws = new WebSocket(symblEndpoint);\n\nws.send(JSON.stringify({\n  \"type\": \"stop_request\"\n}));\n           \n }  \n\n(async function() {\n    await doSomethingAsync();\n    const response = await doSomethingAsync();\n    console.log(response);\n    \n})();\n</script> \n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1400,"y":520,"wires":[[]]},{"id":"ed35dcf4.10bb","type":"switch","z":"5b3be2d.fabbb1c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1530,"y":340,"wires":[["ce48101e.58f9e"]]},{"id":"d8f8964.7e0ac68","type":"ui_text","z":"5b3be2d.fabbb1c","group":"e71e1cf0.ff05c","order":0,"width":0,"height":0,"name":"","label":"YOUR SYSTEM IS NOW ACTIVATED!","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":1040,"wires":[]},{"id":"d8596899.c56458","type":"ui_group","name":" SAWO Log-In","tab":"ae47cffa.963c78","order":1,"disp":true,"width":"6","collapse":false},{"id":"520f753e.322f2c","type":"ui_group","name":"","tab":"6cd21733.279a78","order":1,"disp":true,"width":"6","collapse":false},{"id":"dcfe9245.834eb","type":"twilio-api","name":"","sid":"AC4fc046cb9d468811ca743d9d59caeb0e","from":"+13257158095"},{"id":"51bf0475.ddfd2c","type":"ui_group","name":"","tab":"279d8078.dcf29","order":2,"disp":true,"width":"6","collapse":false},{"id":"784c5b3f.cb6174","type":"ui_group","name":"","tab":"b95fcd45.07afb","order":1,"disp":true,"width":"6","collapse":false},{"id":"fc657953.1b728","type":"ui_group","name":"admin1","tab":"5de606b8.370698","order":3,"disp":true,"width":8,"collapse":false},{"id":"e71e1cf0.ff05c","type":"ui_group","name":"VOICE COMMAND ACTIVATED","tab":"97e567af.122798","order":1,"disp":true,"width":"6","collapse":false},{"id":"ae47cffa.963c78","type":"ui_tab","name":"Home","icon":"dashboard","order":2},{"id":"6cd21733.279a78","type":"ui_tab","name":"Tab Y","icon":"dashboard","order":4,"disabled":true,"hidden":false},{"id":"279d8078.dcf29","type":"ui_tab","z":"5b3be2d.fabbb1c","name":"New Test","icon":"dashboard","order":3},{"id":"b95fcd45.07afb","type":"ui_tab","name":"Tab X","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"5de606b8.370698","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"97e567af.122798","type":"ui_tab","name":"VOICE ENABLED","icon":"dashboard","order":9,"disabled":false,"hidden":false}]