symblaitoken.json
[{"id":"4b7818ed.72c528","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"a7d398ad.49bcf8","type":"change","z":"4b7818ed.72c528","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"\"Content-Type: application/json\"","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":480,"wires":[["73581103.c82a2"]]},{"id":"73581103.c82a2","type":"http request","z":"4b7818ed.72c528","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.symbl.ai/oauth2/token:generate","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":520,"wires":[["bdc42b74.f864b8"]]},{"id":"4b9d1a5c.f44664","type":"inject","z":"4b7818ed.72c528","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":540,"wires":[["d86396d9.125928"]]},{"id":"d86396d9.125928","type":"function","z":"4b7818ed.72c528","name":"","func":"msg.payload=\npayload = {\n    \"type\": \"application\",\n    \"appId\": \"4b384d7a7269586335367331535636566558347576363869524b355530785538\",\n    \"appSecret\": \"465637784d645a62697a64464b4e56565075724558684d38686665446137616e5a79445f5f7972444561704a33356138455553752d594d57575471747057554a\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":540,"wires":[["a7d398ad.49bcf8"]]},{"id":"bdc42b74.f864b8","type":"debug","z":"4b7818ed.72c528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":520,"wires":[]},{"id":"dbfc2ef7.90a1e","type":"ui_template","z":"4b7818ed.72c528","d":true,"group":"135c0020.cb4c5","name":"Symbl.AI","order":3,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<body>\n<script>\n/**\n * The JWT token you get after authenticating with our API.\n * Check the Authentication section of the documentation for more details.\n */\n\nasync function doSomethingAsync() {\nvar theScope = scope;\nconst accessToken = \"eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlFVUTRNemhDUVVWQk1rTkJNemszUTBNMlFVVTRRekkyUmpWQ056VTJRelUxUTBVeE5EZzFNUSJ9.eyJodHRwczovL3BsYXRmb3JtLnN5bWJsLmFpL3VzZXJJZCI6IjUxNzQ2MjUxOTAyODEyMTYiLCJpc3MiOiJodHRwczovL2RpcmVjdC1wbGF0Zm9ybS5hdXRoMC5jb20vIiwic3ViIjoiSzhNenJpWGM1NnMxU1Y2VmVYNHV2NjhpUks1VTB4VThAY2xpZW50cyIsImF1ZCI6Imh0dHBzOi8vcGxhdGZvcm0ucmFtbWVyLmFpIiwiaWF0IjoxNjM0NTcxODk3LCJleHAiOjE2MzQ2NTgyOTcsImF6cCI6Iks4TXpyaVhjNTZzMVNWNlZlWDR1djY4aVJLNVUweFU4IiwiZ3R5IjoiY2xpZW50LWNyZWRlbnRpYWxzIn0.l__DCL8A642x-HMH9stkT6burJIptXeJTHH3DyZRzLxYcHskjy6bbDnBzQx7frnBFJ-uoraymPQ7O3vdQ8sLgTmE5nbXBN-KZmId0vlBshT2i_LU0TvtoQ7XAFKhRiFmHp4_gWEyStH28yvIL_kPpd7_yb5FGoEWIZ6xSa-x9SEEh8OnDO0Xm0Ak95Wl_SqLSQB4Cb4KMIifaNPgnHbLFQtLE698hkHklrJVWuZTIMlI-XztgFqAyioapMpHE9I4pfjKsCZt2a3a3vayGwbpngomB7L1xk3DU4cxqdiPFc2_1MvqwpQ8La_4-4-bpgVqBONyUfb4LkH1rx0_2bPycw\"\nconst uniqueMeetingId = btoa(\"ayanghosh974@gmail.com\")\nconst symblEndpoint = `wss://api.symbl.ai/v1/realtime/insights/${uniqueMeetingId}?access_token=${accessToken}`;\nconsole.log(symblEndpoint);\nconst ws = new WebSocket(symblEndpoint);\n\n// Fired when a message is received from the WebSocket server\nws.onmessage = (event) => {\n  // You can find the conversationId in event.message.data.conversationId;\n  const data = JSON.parse(event.data);\n  if (data.type === 'message_response') {\n    for (let message of data.messages) {\n        var a=message.payload.content;\n      console.log('Transcript (more accurate): ', message.payload.content);\n      theScope.send({payload:{a}});\n      \n    }\n  }\n};\n\n// Fired when the connection succeeds.\nws.onopen = (event) => {\n  ws.send(JSON.stringify({\n    type: 'start_request',\n    meetingTitle: 'Websockets How-to', // Conversation name\n    insightTypes: ['question', 'action_item'], // Will enable insight generation\n    config: {\n      confidenceThreshold: 0.5,\n      languageCode: 'en-US',\n      speechRecognition: {\n        encoding: 'LINEAR16',\n        sampleRateHertz: 44100,\n      }\n    },\n    speaker: {\n      userId: 'example@symbl.ai',\n      name: 'Example Sample',\n    }\n  }));\n};\n\nconst stream = await navigator.mediaDevices.getUserMedia({ audio: true, video: false });\n\n/**\n * The callback function which fires after a user gives the browser permission to use\n * the computer's microphone. Starts a recording session which sends the audio stream to\n * the WebSocket endpoint for processing.\n */\nconst handleSuccess = (stream) => {\n  const AudioContext = window.AudioContext;\n  const context = new AudioContext();\n  const source = context.createMediaStreamSource(stream);\n  const processor = context.createScriptProcessor(1024, 1, 1);\n  const gainNode = context.createGain();\n  source.connect(gainNode);\n  gainNode.connect(processor);\n  processor.connect(context.destination);\n  processor.onaudioprocess = (e) => {\n    // convert to 16-bit payload\n    const inputData = e.inputBuffer.getChannelData(0) || new Float32Array(this.bufferSize);\n    const targetBuffer = new Int16Array(inputData.length);\n    for (let index = inputData.length; index > 0; index--) {\n        targetBuffer[index] = 32767 * Math.min(1, inputData[index]);\n    }\n    // Send audio stream to websocket.\n    if (ws.readyState === WebSocket.OPEN) {\n      ws.send(targetBuffer.buffer);\n    }\n  };\n};\n\n\nhandleSuccess(stream);\n           \n }  \n\n(async function() {\n    await doSomethingAsync();\n    //const response = await doSomethingAsync();\n    //console.log(response);\n    \n})();\n</script> \n\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":460,"y":580,"wires":[["feb27ae2.bc9198"]]},{"id":"feb27ae2.bc9198","type":"function","z":"4b7818ed.72c528","name":"","func":"msg.payload=msg.payload.a\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":580,"wires":[["a032dc54.05472"]]},{"id":"a032dc54.05472","type":"switch","z":"4b7818ed.72c528","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Spidey.","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":580,"wires":[["b34247f7.33b628"]]},{"id":"c16e58e4.23e4f8","type":"ui_audio","z":"4b7818ed.72c528","name":"","group":"135c0020.cb4c5","voice":"Google US English","always":"","x":560,"y":660,"wires":[]},{"id":"b34247f7.33b628","type":"function","z":"4b7818ed.72c528","name":"","func":"msg.payload=\"Yes!\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":580,"wires":[["c16e58e4.23e4f8"]]},{"id":"135c0020.cb4c5","type":"ui_group","name":"Group 1","tab":"f13bbdd8.072e4","order":1,"disp":true,"width":6},{"id":"f13bbdd8.072e4","type":"ui_tab","name":"Tab 8","icon":"dashboard","order":8,"disabled":true,"hidden":false}]